@inherits LayoutComponentBase
@inject DateStateService DateStateService
@inject IApexChartService ApexChartService
@using EnterpriseApp.Components.Code
@using MudBlazor

@* Required *@
<MudThemeProvider IsDarkMode="@DateStateService.IsDarkMode" @rendermode="InteractiveServer" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider  />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25">
        <MudLink Href="/" Color="MudBlazor.Color.Inherit">Harmony</MudLink>
        <MudToolBar DisableGutters="true">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="MudBlazor.Color.Inherit" Class="ml-3" OnClick="@(() => DateStateService.IsDrawerOpen = !DateStateService.IsDrawerOpen)" />
        </MudToolBar>
        <MudSpacer />
        <MudSwitch @bind-Value="@DateStateService.IsDarkMode" Color="MudBlazor.Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="MudBlazor.Color.Inherit" Edge="Edge.End" />
    </MudAppBar>

    <MudDrawer Variant="@DrawerVariant.Persistent" @bind-Open="@DateStateService.IsDrawerOpen" Elevation="5">
        <NavMenu />
    </MudDrawer>

    <MudContainer Class="d-flex align-center" Style="height: 100vh;">
        @Body
    </MudContainer>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var globalOptions = new ApexChartBaseOptions
            {
                Debug = true,
                Theme = new Theme { Mode = DateStateService.IsDarkMode ? Mode.Dark : Mode.Light },
                Xaxis = new XAxis { TickPlacement = TickPlacement.On },
                Chart = new ApexCharts.Chart
                {
                    Width = "100%",
                    Height = "100%",
                    Background = "transparent",
                    Toolbar = new ApexCharts.Toolbar()
                    {
                        Show = true,
                        OffsetX = 0,
                        OffsetY = 0,
                        Tools = new ApexCharts.Tools()
                        {
                            Selection = true,
                            Zoom = true,
                            Zoomin = false,
                            Zoomout = false,
                            Pan = true,
                            Download = true
                        }
                    }
                }
            };

        await ApexChartService.SetGlobalOptionsAsync(globalOptions, true);
    }
}